/* Global Styles */
:root {
  --primary-color: #f17f15;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(255, 255, 255);
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 10px;

}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.dash-btn2{
  margin-top: -33px;
  margin-left:150px ;
}
/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  color:rgb(179, 182, 219) ;
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.1s ease-in;
  transition: background 0.8s;
  outline: none;
  box-shadow: 0 3px 0 rgb(189, 186, 186);
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
  border-radius: 24px;
  
}
.bg-primary{
  background: #ec6a00;
  color: #fff;
  opacity: 0.8;
}
.bg-light{
  background: #e64d11a1;
  color: #333;
  opacity: 0.9;
  padding: 0.2rem 1.2rem;
  font-weight: bold;
}

.btn-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
  border-radius: 24px;
  padding: 0.2rem 1.2rem;
  font-weight: bold;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
  border-radius: 24px;
  padding: 0.2rem 1.2rem;
  font-weight: bold;
}
.bg-dark1{
  background: var(--dark-color);
  color: #fff;
 
  padding: 0.2rem 1.2rem;
  font-weight: bold;
}


.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: rgb(247, 193, 122);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.bg-white{
  background: rgb(240, 167, 107);
  opacity: 0.9;
  color: #333;
  border: #ccc solid 1px;
}
.bg-white:hover{
  opacity: 1;
  transform: translateY(3px);
  box-shadow: 0 0 0 #696969;
}
.btn:active {
  background-color: #f5aa64;
  background-size: 100%;
  transition: background 0s;
}


.btn:hover {
  opacity: 0.8;
  transform: translateY(3px);
  box-shadow: 0 0 0 #696969;
}
.bg-light:hover,
.bg-primary:hover{
  opacity: 1;
  transform: translateY(3px);
  box-shadow: 0 0 0 #696969;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing

/* Forms */
.form{
  position: relative;
  margin-top: -10rem;
}
.form .form-group {
  margin: 1.5rem 0;
  position: relative;
}
.form.form-group-ADDEXP {
  margin: 10rem 0;
  position: relative;
}
.form.form-group-ADDEXP{
  display: block;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 24px;
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.25s;

}

.form-group-Profile{
  display: block;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 24px;
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.25s;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: rgb(136, 136, 136);
  
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 24px;
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.25s;
}
.form input[type='text']:focus,
.form input[type='email']:focus,
.form input[type='password']:focus,
.form input[type='date']:focus,
.form select,
.form textarea {
  width: 370px;
  border-color: #e6862c;
}
.form input[type='submit'],
button {
  font: inherit;
  border:0;
  background: #ccc;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #a5bbae;
  padding: 7px 40px;
  outline: none;
  color: rgb(26, 16, 8);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

  
.form input[type= 'submit']:hover{
  background: orangered;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}


.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/*Expense*/
.etitle{
  padding:32px;
  color: #2bbd7e
}

/* Navbar */
.navbar {
  display: flex;
 
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins',sans-serif;
  background-image: linear-gradient(to right, #ffffff,#ee681ad7, #ee681ad7);
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px ;
  opacity: 0.9;
}
.logo{
  color: rgb(23, 23, 24);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 215x;
  font-family: 'Poppins',sans-serif;
  font-style: bold;
}

.navbar ul {
  display: flex;
  justify-content: space-around;


}

.navbar a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0.50rem;
  margin: 0 0.45rem;
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(158, 16, 16);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
/*Dashboard head*/
.dash{
  font-family: 'Andika New Basic', sans-serif;
  color: #333;
}
.bg

/*auth page picture-deleted!*/
.authpic {
 
  
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-bottom: 20%;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/background.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.v-line{
  height: 94%;
  width: 1px;
  background-color: #ccc;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/*expense overview*/

.dash-head{
  margin-top: -10px;
  margin-bottom: 20px;
}
.OVERtab{
  margin-top: 40px;
  padding: 14px 10px;
}

.card{
  max-width: 800;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  }
  
  
  
  .title2 {
  padding:30px;
  color: #4b322a
  }
  .totalSpent {
  
  font-size: 4rem;
  margin: 16px 10px 10px 0;
  padding: 10px 30px;
 
 
  color: #160303;
  text-align: center;
  border: 4px solid #00000038;
  background-color: #f3f7fa;
  border-radius: 0.25rem;
  font-weight: 300;
  }
  .categorySection {
  padding: 25;
  padding-top: 16;
  margin: auto;
  }
  .catDiv {
  height: 4px;
  margin: 0;
  margin-bottom: 8;
  }
  .val {
  width: 200;
  display: inline-table;
  text-align: center;
  margin: 2;
  }
  
  .catTitle {
  display: inline-block;
  padding: 10;
  background-color: #f4f6f9;
  }
  
  .catHeading {
  color: #6b6b6b;
  font-size: 1.15em;
  background-color: #f7f7f7;
  padding: 4px 0;
  }
  .spent {
  margin: 16px 10px 10px 0;
  padding: 10px 30px;
  border: 4px solid #00000038;
  background-color: #f3f7fa;
  border-radius: 0.25rem;
  }
  .day {
  font-size: 0.9rem;
  font-style: bold;
  color: #696969;
  }
 

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.form-Pro{
  margin: 1.5rem 0;
  
}
small.form-text-Pro{
  margin: auto;
  margin-bottom: 10px;
}
.form-group-Profile{
  display: block;
  width: 70%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form-text-Pro{
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
select.status{
  margin: 10px  auto;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
 border: none;
 border-radius: 24px;
  background-color: rgb(252, 236, 213);
  -webkit-appearance: button;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  -webkit-linear-gradient: (#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: 10px auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}


/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/*add expense*/
.dash2{
  margin-top: -10px;
  font-family: 'Andika New Basic', sans-serif;
  font-size: 35px;
}

.ADDEXP{
 padding: 8px 3px;
 margin: 10px auto;
}
select{
  margin: 10px  auto;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
 border: none;
 border-radius: 24px;
  background-color: rgb(252, 236, 213);
  -webkit-appearance: button;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  -webkit-linear-gradient: (#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: 10px auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
select:focus{
  outline: none;
}
input{
  margin: 10px  auto;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
  background-color:  rgb(252, 236, 213);
  border-radius: 24px;
  border: none;
  -webkit-appearance: button;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 20px;
  -webkit-user-select: none;
  -webkit-linear-gradient: (#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: 10px  auto;;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input:focus{
  outline: none;
}
textarea{
  margin: -10px  auto;
  font-weight: bold;
  padding: 15px 10px;
  font-size: 16px;
  background-color:  rgb(252, 236, 213);
  border-radius: 24px;
 border-image: inherit;
 border: none;
 -webkit-appearance: button;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 20px;
  -webkit-user-select: none;
  -webkit-linear-gradient: (#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
textarea:focus{
  outline: none;
}

/*Expenses */
.epanel{
  margin: 12px 0;
    display: flex;
    background: rgb(228, 215, 215);
    flex-grow: 1;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.epanel:hover{
  opacity: 1;
  transform: translateY(3px);
  box-shadow: 0 0 0 #696969;
}
.eamount{
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    max-width: 1024px;
    width: 50%;
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
    
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}